/**
 * Webforms
 */


.form-group {
	margin-bottom: 30px;
}

label {
    font-family: 'Raleway', sans-serif;
    font-weight: 200;
	text-align: center;
	margin-bottom: 12px;
	font-size: 18px;
	line-height: 18px;
	width: 100%;
}

.form-control {
    font-family: 'Lato', sans-serif;
	border: 1px solid #61993c;
	border-radius: 22px; 
	-webkit-border-radius: 22px; 
	-moz-border-radius: 22px;
    box-shadow: inherit;
    color: #333;
    font-size: 16px;
    line-height: 16px;
    height: 44px;
    padding: 10px 20px;
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
}

input[type=text],
input[type=email],
input[type=password],
textarea {
    font-family: 'Lato', sans-serif;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    box-shadow: none !important;
}


.form-control:focus {
    border-color: #515ca6;
    box-shadow: inherit;
    outline: 0 none;
}

textarea {
	resize: none;
}



/* Placeholder text */

.form-control::-webkit-input-placeholder	{color: #999;} /* Chrome/Opera/Safari */
.form-control::-moz-placeholder 			{color: #999;} /* Firefox 19+ */
.form-control:-ms-input-placeholder 		{color: #999;} /* IE 10+ */
.form-control:-moz-placeholder 				{color: #999;} /* Firefox 18- */



/* Help text */

.control-group .help-inline,
.help-block {
	color: #333;
    font-size: 13px;
    line-height: 17px;
	text-transform: uppercase;
	margin: 12px 0 12px 0;
}



/* Limit field widths */

.webform-component-email,
.webform-component-select,
.webform-component-textarea {
	max-width: 500px;
    margin-left: auto;
    margin-right: auto;
}



/* Select boxes */

.form-select {
    -webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	background: url('../images/expanded-green.png') no-repeat right 20px center #fff;
	overflow: hidden;
}

.form-select:focus {
	color: #333;
	color: rgba(0,0,0,0);
	text-shadow: 0 0 0 #000;
	outline: none;
}

select option {
	color: #333 !important;
	background-color: #fff !important;
}



/*
 * Contact page
 */

body.node-type-webform .main-content {
	text-align: center;
}

a.btn i.fa-phone {
	margin-right: 10px;
}



/*
 * Captcha
 */

 .captcha {
	 width: 304px;
	 margin: 0 auto 30px;
 }